
grant
{
      permission java.lang.RuntimePermission "exitVM";
      permission java.lang.RuntimePermission "modifyThread";
      permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
      permission java.io.FilePermission "${user.home}/JSIM/*", "read";
      permission java.io.FilePermission "${user.home}/JSIM/icon/*", "read";
      permission java.io.FilePermission "${user.home}/JSIM/jsim/jars/-", "read";
      permission java.util.PropertyPermission "user.home", "read";
      permission java.util.PropertyPermission "user.dir", "read";
      permission java.util.PropertyPermission "file.separator", "read";
      
};

